<!-- plan entry -->
<div class="selected-icon-container"></div>
<div class="plan-num-of-engagements"></div>
<div class="engagements-label-container">
    <div class="engagements-label">{{_i18n.planSelection.engagementsLabel}}</div>
    <div class="per-month-label">{{_i18n.planSelection.perMonthLabel}}</div>
</div>
<div class="plan-price-container">
    <div class="plan-price"></div>
    <div class="per-month-label">{{_i18n.planSelection.perMonthLabel}}</div>
</div>
<div class="recommended-container">
    <div class="separate-horizontal"></div>
    <div class="recommended-button">{{_i18n.plan.recommended}}</div>
</div>
<div class="plan-discount-container">
    <div class="plan-discount-first-row">
        <div class="plan-discount-percentage"></div>
        <div class="plan-discount-label">&nbsp{{_i18n.planSelection.discountLabel}}&nbsp</div>
        <div class="plan-discount-text">{{_i18n.planSelection.discountText}}</div>
    </div>
    <div class="plan-discount-second-row">
        <div class="plan-list-label">{{_i18n.planSelection.listPriceLabel}}</div>
        <div class="plan-list-price">{{gal}}</div>
    </div>
</div>
<div class="plan-additional-container">
    <span class="plan-additional-price"></span>
    <span class="plan-additional-label">&nbsp{{_i18n.planSelection.additionalLabel}}</span>
</div>
